<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <form class="login-form" action="/new-password" method="POST">
                            <div class="form-control">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <!-- this is where we passed our CSRF token that is needed in the server, to make sure that the reqest coming
                    to it was made from our view, name has to be _csrf, because CSRF middleware we added will look for this name to access the Session, behind the scene -->
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Update Password</button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>