<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <form class="login-form" action="/signup" method="POST">
                            <div class="form-control">
                                <label for="email">E-Mail</label>
                                 <!-- 'find' is a fn you can call on an array,
                                'invalid is a CSS class' -->
                                <input 
                                class="<%= validationErrors.find(err => err.param === 'email') ? 'invalid' : ''%>"
                                type="email" 
                                name="email" 
                                id="email" 
                                value="<%= oldUserInput.email %>">
                            </div>
                            <div class="form-control">
                                <label for="password">Password</label>
                                <!-- 'find' is a fn you can call on an array,
                                'invalid is a CSS class' -->
                                <input
                                class="<%= validationErrors.find(err => err.param === 'password') ? 'invalid' : ''%>"
                                 type="password" 
                                 name="password" 
                                 id="password"
                                value="<%= oldUserInput.password %>">
                            </div>
                            <div class="form-control">
                                <label for="confirmPassword">Confirm Password</label>
                                <!-- 'find' is a fn you can call on an array,
                                'invalid is a CSS class' -->
                                <input
                                class="<%= validationErrors.find(err => err.param === 'confirmPassword') ? 'invalid' : ''%>"
                                  type="password" 
                                  name="confirmPassword" 
                                  id="confirmPassword"
                                  value="<%= oldUserInput.confirmPassword %>">
                            </div>
                            <!-- this is where we passed our CSRF token that is needed in the server, to make sure that the reqest coming
                    to it was made from our view, name has to be _csrf, because CSRF middleware we added will look for this name to access the Session, behind the scene -->
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Sign Up</button>
                        </form>
            </main>
            <%- include('../includes/end.ejs') %>